<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            <link rel"stylesheet" href="{{ asset( 'css/style.css' ) }}">
        {% endblock %}


    </head>
    <body>
    <img src"={{ a asset( 'img/logo.png' ) }}" alt="">

        <nav>
            <ul>
                <li><a href="{{ path('app_entreprise ) }}  ">liste des entreprises</a></li>
                <li><a href="{{ path('app_employee ) }}  ">liste des employés</a></li>
        </nav>

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset( 'js/script.js' ) }}"></script>
        {% endblock %}
    </body>
</html>
